# Dependencies
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Next.js
**/.next/
**/out/

# Build output
**/dist/
**/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/